# -------------------------------
# Archivos de configuración sensibles
# -------------------------------
.env
*.key
*.pem
*.sqlite3

# -------------------------------
# Archivos generados por ollama
# -------------------------------
/models/
/logs/
/tmp/

# -------------------------------
# Entorno virtual y librerías de Python
# -------------------------------
/jarvis/
/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
/.venv
/.keras
/.cache
/modules/__pycache__/
.spotify_cache
# -------------------------------
# Archivos del sistema operativo
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Configuración de IDEs
# -------------------------------
.vscode/
.idea/
